<p id="notice"><%= notice %></p>

<h1>Message Boards</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_boards.each do |message_board| %>
      <tr>
        <td><%= message_board.message_id %></td>
        <td><%= link_to 'Show', message_board %></td>
        <td><%= link_to 'Edit', edit_message_board_path(message_board) %></td>
        <td><%= link_to 'Destroy', message_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Board', new_message_board_path %>
