<p id="notice"><%= notice %></p>

<h1>Paddle Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paddle_games.each do |paddle_game| %>
      <tr>
        <td><%= link_to 'Show', paddle_game %></td>
        <td><%= link_to 'Edit', edit_paddle_game_path(paddle_game) %></td>
        <td><%= link_to 'Destroy', paddle_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paddle Game', new_paddle_game_path %>
