<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @score_board.user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score_board.score_id %>
</p>

<%= link_to 'Edit', edit_score_board_path(@score_board) %> |
<%= link_to 'Back', score_boards_path %>
